section.contact-page-sec {
  padding: 60px 0;
  min-height: 100vh;
}

.contact-info-text h2 {
  color: #fff;
  font-size: 22px;
  text-transform: capitalize;
  font-weight: 600;
  margin-bottom: 10px;
}

.contact-info-text span {
  color: var(--muted-text-color);
  font-size: 16px;
  display: inline-block;
  width: 100%;
}

.container {
  margin: 0 auto;
  padding: 4rem;
  max-width: 1200px; /* Adjusted width for centering */
}
