.mySwiper .swiper-button-prev,
.mySwiper .swiper-button-next {
  color: #a0aec0; /* Default gray color */
}

.mySwiper .swiper-button-prev:hover,
.mySwiper .swiper-button-next:hover {
  color: var(--swiper-theme-primary, #6366f1); /* Dynamic primary color on hover */
}

.mySwiper .swiper-pagination-bullet {
  background-color: #cbd5e0; /* Default gray for inactive dots */
}

.mySwiper .swiper-pagination-bullet-active {
  background-color: var(--swiper-theme-primary, #6366f1); /* Dynamic primary color for active dot */
}

.mySwiper {
  padding-left: 50px;
  padding-right: 50px;
}